body {
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%)
}

html {
    margin: 0;
  }
  
  span {
    display: block;
  }

  .canvas {
    margin: 100px auto;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid hsl(0, 0%, 0%) 6px;
    display: inline-block;
  }
  
  #red {
    background: hsl(0, 100%, 50%);
  }
  
  #cyan {
    background: hsl(180, 100%, 50%);
  }

  #orange {
    background: hsl(39, 100%, 50%);
  }
  
  #brown {
    background: hsl(0, 59%, 41%);
  }
  